<h1><%= pluralize(@events.size, 'Event') %></h1>

<% @events.each do |event| %>
	<article class="row event">
		<div class="col-md-12">
			
			<div class="row">
				<header class="col-md-8">
					<h2><%= link_to(event.name, event) %></h2>
				</header>
				<div class="col-md-4 text-md-right">
					<h4><%= pluralize(event.capacity, 'spot') %></h4>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<%= image_for(event) %>
				</div>
				<div class="col-md-6">
					<p>
						<%= truncate(event.description, length: 35, separator: '') %>
					</p>
					<table class="table">
						<tr>
							<th>When:</th>
							<td><%= event.starts_at %></td>
						</tr>
						<tr>
							<th>Where:</th>
							<td><%= event.location %></td>
						</tr>
						<tr>
							<th>Price:</th>
							<td><%=format_price(event)%></td>
						</tr>
					</table>
				</div>
			</div>

		</div>
	</article>
<% end %>